body, html {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

select {
  /* Reset Select */
  background: #fff;
  border: 0px;
  border-bottom: 2px solid #ddd;
  font-size: 16px;
  margin: 0px;
  padding: 5px;  
  padding-left: 10px;
  padding-right: 10px;
  font-family: Roboto;
}

.menu-tab  {
 border-bottom: 0px;
 font-weight: bold;
 color: #000;
 text-transform: uppercase;
 font-size: 14px;
 text-decoration: none;
 margin-left: 40px;
}


option {
  border: 0px;
}

.selectdiv {
  margin-left: 100px;
  display: inline;
  line-height: 64px;
  font-family: Roboto;
}

.al-logo-div {
  display: inline;
  line-height: 64px;
}

.al-logo {
    font-family: 'Fira Sans';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    letter-spacing: 2px;
    color: #000;
    font-size: 26px !important;
}

.olControlAttribution {
    position: absolute;
    bottom: 0px !important;
    background: rgba(100,100,100,5);
    padding: 5px;
    color: #fff;
}

.olControlAttribution a {
    color: #fff;
}


.olControlZoom {
  top: 20px !important;
  left: 10px !important;
}

.olControlZoomIn.olButton {
  height: 30px;
  width: 40px;
  background: #222;
  opacity: 0.6;
  padding-top: 10px;
}

.olControlZoomOut.olButton {
  height: 30px;
  width: 40px;
  background: #222;
  opacity: 0.6;
  padding-top: 10px;
}


 ul {
     padding: 0xp;
     margin: 0px;
 }
 li { 
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
    line-height: 64px;
    margin-top: 0px;
    padding: 0xp;
    border-bottom: 2px solid #000;
 }

#basicMap3 {

         background-color: #666;
         background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
         background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
         background-image: -webkit-linear-gradient(white 2px, transparent 2px),
                  -webkit-linear-gradient(0, white 2px, transparent 2px),
                  -webkit-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -webkit-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
         background-image: -moz-linear-gradient(white 2px, transparent 2px),
                  -moz-linear-gradient(0, white 2px, transparent 2px),
                  -moz-linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  -moz-linear-gradient(0, rgba(255,255,255,.3) 1px, transparent 1px);
         background-image: linear-gradient(white 2px, transparent 2px),
                  linear-gradient(90deg, white 2px, transparent 2px),
                  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
                  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
         -pie-background: linear-gradient(white 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(90deg, white 2px, transparent 2px) -2px -2px / 100px,
                 linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px,
                 linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px) -1px -1px / 20px, #269;


}

#basicMap {

  background: #f2f2f2;
  background-image: radial-gradient(#222 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;

}

#basicMap4 {
    background-image:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
}
